@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 48 27 43;
    --brand: 179 158 194;
    --brand-light: 137 92 120;
    --brand-dark: 147 91 142;
  }
  html {
    line-height: 1.8;
    color: #333;
    font-weight: theme(fontWeight.light);
    overflow-x: hidden;

    @screen sm {
      font-size: 112.5%;
    }
  }
}

@layer components {
  .container {
    max-width: theme(screens.xl);
    margin-inline: auto;
    padding-inline: theme(spacing.4);
  }

  .heading-1 {
    font-size: theme(fontSize.5xl);
    margin-bottom: 0.5em;
    font-weight: theme(fontWeight.black);

    @screen lg {
      font-size: theme(fontSize.6xl);
    }
    @screen 2xl {
      font-size: theme(fontSize.7xl);
    }
  }
  .heading-2 {
    font-size: theme(fontSize.4xl);
    margin-bottom: 0.5em;
    font-weight: theme(fontWeight.extrabold);

    @screen lg {
      font-size: theme(fontSize.5xl);
    }
    @screen 2xl {
      font-size: theme(fontSize.6xl);
    }
  }
  .heading-3 {
    font-size: theme(fontSize.3xl);
    margin-bottom: 0.5em;
    font-weight: theme(fontWeight.bold);

    @screen lg {
      font-size: theme(fontSize.4xl);
    }
    @screen 2xl {
      font-size: theme(fontSize.5xl);
    }
  }
  .heading-4 {
    font-size: theme(fontSize.2xl);
    margin-bottom: 0.5em;
    font-weight: theme(fontWeight.bold);

    @screen lg {
      font-size: theme(fontSize.3xl);
    }
    @screen 2xl {
      font-size: theme(fontSize.4xl);
    }
  }
  .heading-5 {
    font-size: theme(fontSize.xl);
    margin-bottom: 0.5em;
    font-weight: theme(fontWeight.semibold);

    @screen lg {
      font-size: theme(fontSize.2xl);
    }
    @screen 2xl {
      font-size: theme(fontSize.3xl);
    }
  }
}
